[Unit]
Description=Marlow Compositor
After=graphical-session-pre.target
Before=graphical-session.target

[Service]
Type=simple
ExecStart=/home/josemarlow/marlow-compositor/target/release/marlow-compositor
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_SESSION_TYPE=wayland
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
